
/* begin global */
*{
	-webkit-box-sizing :border-box;
	-moz-box-sizing :border-box;
	box-sizing :border-box;
}

body {
	background-color: #dcdcdc;
}

.container{
	width: 1200px;
	margin: auto;
	margin-top:20px;
}


/* end global */

/* start navbar */

.navbar {
	background-color: #EEE;
}

.navbar .brand{
	float: left;
	width: 40%;
}

.navbar .links {
	float: left;
	width: 60%;
}

.navbar .links li {
	display: inline-block;
	padding: 10px 15px;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
}

.navbar .links a.active,
.navbar .links a.active:hover{
	color: #1abc9c;
	border-bottom: 2px solid transparent;
}

.navbar .links li a {
	text-decoration: none;
}


/*end navbar */

/* start slider */
.slider {
	background-image: url('../images/js.jpg');
	height: 600px;

	width: 1000px;


}




/* end slider */
/*my framework */
.clearfix{
	clear: both;
}
/*end framework */